@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}

.loraFont{
    font-family: 'Lora', serif;
}
.sideBar{
    margin-left: -100%;
    transition: .3s;
}
.showcase_bg{
    background: #812E20;
}
.necklacesBannerBg{
    background: rgb(221,202,189);

}
.EaringBannerBg{
    background: rgb(113,45,41);
}
.Ringzbanner{
    background: rgb(128,138,162);
}

@media (max-width:640px){
    .current_span{
        display: none;
    }
}