@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
}

.loraFont{
    font-family: 'Lora', serif;
}
.sideBar{
    margin-left: -100%;
    transition: .3s;
}
.Shocase_bg{
    background-color: #812E20;
}